body{
    background-image: url(imagens/fund.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
#frm{
    position: relative;
    padding-left: 555px;
    padding-top: 200px;
}
.inp{
    width: 270px;
    display: block;
    padding: 10px;
    border-style: solid;
    margin-top: 5px;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0);
    border-color: #ffffff;
    border-radius: 6px;
}
a{
    color: white;
}
#btn{
    padding-top: 5px;
    width: 270px;
    border-radius: 6px;
}
h1{
    padding-left: 30px;
    padding-bottom: 15px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:white;
}